{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <span>Oluşturulma: {{ post.created_at|date:"d F Y" }}</span>
    {% if post.updated_at != post.created_at %}
        <span>•</span>
        <span>Güncelleme: {{ post.updated_at|date:"d F Y" }}</span>
    {% endif %}


    <div>
        {{ post.content|linebreaks }}
    </div>

     {% if breadcrumbs %}
    <h2>Breadcrumbs</h2>
        {% for breadcrumb in breadcrumbs %}
            <li>
                <div>
                    {% if forloop.last %}
                        <span>{{ breadcrumb.title }}</span>
                    {% else %}
                        <a href="{% url 'posts:detail' slug=breadcrumb.slug %}">
                            {{ breadcrumb.title }}
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    {% endif %}
    

    {% if children %}
        <h2>Alt Sayfalar</h2>
        {% for child in children %}
            
                    <a href="{% url 'post:detail' slug=child.slug %}">
                        {{ child.title }}
                    </a>
                <p>
                    {{ child.content|truncatewords:15 }}
                </p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
